body{
    background-color: rgb(90, 88, 88);
    margin: 0;
    margin-bottom: 15px;
 }
.main{ 
    background-color: rgb(255, 255, 255);
    display: flex; 
    border-bottom: 0.992px solid rgb(152, 85, 34);
    padding: 15px;
} 
.back{
    background-color: #303136;  
}
.h3{
    font-size: 21.33px;
    width: 141px;
    height: 27px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #d2d3d7;
}
img{  
    padding: 5px 8px; 
}
.header
{
    width: 50%;  
    align-items: center; 
    /* padding: 30px 15px; */
    background-color: rgb(255, 255, 255); 
    font-family: Google Sans,Segoe UI,system-ui,-apple-system,sans-serif; 
    
}
nav a{
    background-color: rgb(255, 255, 255); 
    text-decoration: none;
    padding: 8px 10px;
    display: inline-block;
    color: #000000;
    font-size: 21px;
}
nav a:hover{
    background-color: rgb(224, 219, 219);
}
.srch{
    margin-top: 10px;
    margin-left: 100px;
    padding: 0;
    box-sizing: border-box;
    width: 20%; ;
}
.set{
    background-color: rgb(107, 102, 102) ;
    color: rgb(255, 255, 255); 
    padding: 8px 0;
} 
 
.card{ 
    width: 48%;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin: 57.990px;
 } 
 .content{
    padding: 15px;
    color: white;
 } 
.flex{
   display: flex;
   flex: 1;
   column-gap: 2rem;
}  
.col{
   width: 18.4%;
   height: 20%;
 /* to give separtly width to each card in each div */
}
h3{
    margin: 32px 0px 0px;
}
.span{
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.img{
    width: 333px;
    height: 240px;
}
body{
    background-color: black;
}
.h1{
    margin: 35.893px;
    width: 562px;
    height: 86px;
    font-size: 35.8px;
    color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.p{
    margin: 20.889px;
    width: 562.9px;
    height: 70.9px;
    font-size: 20.8px;
    color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.img2{
    margin: 57.99px 0px 0px;
}
.btn{
    width:174px;
    height:77px;
    position: -1px;
    background-color: rgb(8, 10, 48);
    color: white;  
    border: rgb(8, 10, 48);
}
.btn:hover{
    background-color: grey;
    border: grey;
}
 
.card2{ 
    width: 51%;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin: 57.990px;
    position: 0px;
    background-image: url("event.jpg");
    background-size: 500px 300px;
 } 
 .span2{
   width: 48px;
   height: 33.9px;
   font: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: #ffffff;
 } 
 .h33{
   margin: 32.330px 0px 0px;
   width: 230px;
   height: 65px;
   font-size: 23px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-decoration-thickness: auto;
 }
 .mt{
    margin: 20px;
 }